.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
    justify-content: center;
}

.cards {
    max-width: 100%;
    padding: 2em;
    text-align: center;
    background-color: rgba(0, 0, 17, 0.959);
    border-radius: 10px;
}

.cards img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.portfolio img {
    width: 550px;
    height: 400px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.portfolio .information {
    padding: 20px 30px;
    display: flex;
    flex-wrap: wrap;
    font-family: sans-serif;
    justify-content: space-between;
}

.portfolio .information button {
    margin: 20px 0;
    width: 100%;
    background: #613954;
    border: none;
    outline: none;
    color: white;
    padding: 7px 10px;
    cursor: pointer;
    border-radius: 5px;
}

.containers {
    position: relative;
    overflow-x: hidden;
    padding: 10px;
}

.sliders {
    overflow: hidden;
    display: flex;
    padding: 30px 40px;
}

.sliders .slides {
    width: 400px;
    height: 400px;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-right: 17px;
    transition: 0.5s;
    animation: swipe 7s linear infinite;
    position: relative;
}

.sliders .slides img {
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.slides {
    position: relative;
    width: 100%;
    float: left;
    height: 85vh;
}

.slides {
    background-size: cover;
}

@keyframes swipe {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-190%);
    }
}

.slideshow {
    background-color: #000;
    list-style: none;
    z-index: 0;
}

.slideshow li {
    animation: imageAnimation 20s linear infinite;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    height: 100%;
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 0;
}

.slideshow li:nth-child(1) {
    background-image: linear-gradient(rgba( 0, 0, 0, 0.5), rgba( 0, 0, 0, 0.5)),
    url(img/11.png);
    animation-delay: 0s;
}
.slideshow li:nth-child(2) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url(img/13.png);
    animation-delay: 5s;
}
.slideshow li:nth-child(3) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url(img/12.png);
    animation-delay: 10s;
}
.slideshow li:nth-child(4) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url(img/9.png);
    animation-delay: 15s;
}

@keyframes imageAnimation {
    0% {
        opacity: 0;
        animation-timing-function: ease;
    }
    10% {
        opacity: 1;
        animation-timing-function: ease;
    }
    20% {
        opacity: 1;
    }
    30% {
        opacity: 0;
    }    
}

.hero-text {
    margin-top: 200px;
    margin-left: 650px;
    max-width: 50%;
    animation: fadeInRight 5s ease-in-out;
}

.hero-text h4 {
    font-size: 2rem;
    color: #fff;
    margin-bottom: 10px;
    font-weight: 600;
}
.hero-text h1 {
    font-size: 2rem;
    color: #fff;
    margin-bottom: 20px;
    font-weight: 700;
}

.hero-text p {
    font-size: 1.2rem;
    color: #fff;
    margin: 15px 0;
    line-height: 1.6;
}

@keyframes fadeInRight {
    from {
        opacity: 0;
        transform: translateX(750px);
    }
    to {
        opacity: 1;
        transform: translateX(50px);
    }
    
}