.c-item {
    height: 500px;
    background-color: #000;
}

.c-img {
    height: 100%;
    object-fit: cover;
    filter: brightness(0.8);
}

.c-height {
    height: 400px;
}

.c-height img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

h3.heading {
    font-size: 1.9rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 2rem;
    padding: .5rem;
}

.heading-underline {
    width: 6rem;
    height: .2rem;
    background-color: #1ebba3;
    margin: 0 auto 2rem;
}

.card {
    margin: .6rem;
}

.card img {
    max-width: 100%;
    transition: transform .5s ease;
}

.card img:hover {
    transform: scale(1.1);
    cursor: zoom-in;
}

.card {
    overflow: hidden;
}


/*==// X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)==
@media (min-width: 576px) {
    ...
}

/*==// Medium devices (tablets, 768px and up)==
@media (min-width: 768px) {
    ...
}

/*==// Large devices (desktops, 992px and up)==
@media (min-width: 992px) {
    ...
}

/*==// X-Large devices (large desktops, 1200px and up)==
@media (min-width: 1200px) {
    ...
}

/*==XX-Large devices (larger desktops, 1400px and up)==
@media (min-width: 1400px) {
    ...
/* } */