@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400&family=Montserrat:wght@300&family=Zen+Kurenaido&display=swap');

body {
  overflow-x: hidden;
  font-family: 'Montserrat', sans-serif;
  color:#505962;
}
.offset::before {
  height: 3.8rem;
  margin-top: -3.8rem;
  content: "";
  display: block;
}
/*====NavBar====*/

h2.heading {
  font-size: 1.2rem;
  font-weight: 700;
  text-transform: uppercase;
  padding: .5rem;
}

h3.heading {
  font-size: 1.9rem;
  font-weight: 700;
  text-transform: uppercase;
  padding: .5rem;
}
.heading-underline {
  width: 6rem;
  height: .2rem;
  background-color: #1ebba3;
  margin: 0 auto 2rem;
}
/*====PORTFOLIO====*/
.portfolio img {
  max-width: 100%;
  transition: transform .5s ease;
}
.row.no-padding {
  padding: 0;
}

.btn-2 {
  width: 250px;
  height: 50px;
  text-transform: uppercase;
  border: none;
  color: #34495e;
  border-radius: 4px;
  transition: ease-out 0.3s;
  font-size: 1rem;
  outline: none;
  border: 2px solid #069;
  position: relative;
  z-index: 1;
}

.btn-2:hover {
  color: #fff;
  cursor: pointer;
}

.btn-2:before {
  transition: 0.5s all ease;
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  opacity: 0;
  content: "";
  background-color: #069;
}

.btn-2:hover:before {
  transition: 0.5s all ease;
  left: 0;
  right: 0;
  opacity: 1;
  z-index: -1;
}

.portfolio img:hover {
  transform: scale(1.1);
  cursor: zoom-in;
}
.portfolio {
  overflow: hidden;
}
/*====CARD====*/
.card {
  margin: .6rem;
}
.card img {
  max-width: 100%;
  transition: transform .5s ease;
}
.card img:hover {
  transform: scale(1.1);
  cursor: zoom-in;
}
.card {
  overflow: hidden;
}
/*====CONTACT====*/
footer {
  background-color: rgba(0, 0, 17, 0.959);
  color: #ffff;
  padding: 2rem 0 3rem;
  margin-top: 1rem;
}
footer img {
  height: 3rem;
  margin: 1.5rem 0;
}
footer a {
  color: #ffff;
}
footer svg.svg-inline--fa {
  font-size: 1.6rem;
  margin: 1.2rem .5rem 0 0;
}
footer svg.svg-inline--fa:hover {
  color: #1ebba3;
}
hr.socket {
  border-top: .2rem solid #666b71;
  width: 100%;
}
/*============= COURSE SECTION =============*/

.narrow {
  width: 75%;
  margin: 0 auto;
  padding-top: 2rem;
}

/*====MEDIA QUERIES====*/
@media (max-width: 767px) {
    .carousel-caption h1 {
      font-size: 2.3rem;
      letter-spacing: .15rem;
      padding-bottom: .5rem;
    }
    .carousel-caption h3 {
      font-size: 1.2rem;
      padding-bottom: 1.2rem;
    }
    .btn-lg {
      font-size: 1rem;
    }
    .narrow h1 {
      font-size: 1.5rem;
    }
    p.lead {
      font-size: 1rem;
    }
}
/*== BOOTSTRAP BREAK POINTS:

Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
==*/